.btn_dewe{
	background-color: #4398DB;
	color: #ffff;
	margin-bottom: 34px;
}
.btn_dewe:hover{
	background-color: #2980B9;
	color: #ffff;
}
.btn_dewe_color{
	background-color: #4398DB;
	color: #ffff;
	margin: 0 1.3% 0 0;
}
.btn_dewe_color:hover{
	background-color: #2980B9;
	color: #ffff;
}
.space_help{margin: 0 1.3% 0 0;}
.space_help_button{margin: 5% 0 0 0;}
.content_dashboard{
	padding: 0 2% 0 2%;
}
.box_title{
	font-size: 135%;
	padding: 8% 0 0 0;
	color: #fff;
}
.box_title2{
	font-size: 135%;
	padding: 4.5% 0 0 0;
	color: #fff;
}
.box_subtitle{
	font-size: 84%;
	color: white;
	margin: -5% 0 3% 0;
}
.box_subtitle0{
	font-size: 90%;
	color: white;
	margin-top: -13.8%;
}
.box_subtitle1{
	font-size: 90%;
	color: white;
	margin-top: -13.1%;
}
.box_subtitle2{
	font-size: 90%;
	color: white;
	margin-top: -8.9%;
}
.box_subtitle3{
	font-size: 90%;
	color: white;
	margin-top: -8.3%;
}
.box_content_place {
	color: #95a5a6;
	padding: 11% 0 0% 0;
}
.box_space{
	padding: 0 0 0 6%;
}
.box_space2{
	padding: 0 0 0 6%;
}
.box_space3{
	padding: 0 6% 0 6%;
}
.hr{
	background-color: white;
	margin: -2.4% 0 0 0;
}
.icon_file{
	padding: 4% 0 4% 0;
}
.space_icon{
	margin: 0 9% 0 0;
}

.name_anggota{
	font-size: 140% !important;
}
.space_4{
	margin-top: 3%;
}
.unline:hover{
	text-decoration: none;
}
.dashtext-1_custom{
	color: #864DD9 !important;
}
.dashtext-2_custom{
	color: #e65b25 !important;
}
.dashtext-3_custom{
	color: #27ae60 !important;
}
.dashtext-4_custom{
	color: #c0392b !important;
}
.dashtext-5_custom{
	color: #16a085 !important;
}
.dashtext-6_custom{
	color: #8e44ad !important;
}
.dashtext-7_custom{
	color: #2980b9 !important;
}
.dashbg-1_custom{
	background: #864DD9 !important;
}
.dashbg-2_custom{
	background: #e65b25 !important;
}
.dashbg-3_custom{
	background: #27ae60 !important;
}
.dashbg-4_custom{
	background: #c0392b !important;
}
.dashbg-5_custom{
	background: #16a085 !important;
}
.dashbg-6_custom{
	background: #8e44ad !important;
}
.dashbg-7_custom{
	background: #2980b9 !important;
}
.primary0{
	font-size:100px;
	color:#fff;
	padding: 0 1.5% 0 0;
}
.primary{
	font-size:100px;
	color:#ffda44;
	padding: 0 1.5% 0 0;
}
.congrats_rate{
	margin: 3% 0 0 0;
}